.background{
    background-color: wheat;
}
@font-face {
    font-family: 'Raleway',sans-serif;
    src: url(../../../public/fonts/RalewayDots-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../../../public/fonts/Poppins-Regular.ttf);
  }
.about{
    font-family: Poppins;
    position: relative; 
    padding-left: 2rem;
    position:relative;
    top:90vh;
}
.about-subtext{
    position: relative;
    top: 90vh;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}