@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../public/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Raleway',sans-serif;
    src: url(../public/fonts/RalewayDots-Regular.ttf);
}
